[submodule "plugins/aris"]
	path = plugins/aris
	url = https://github.com/wanshuiyin/Auto-claude-code-research-in-sleep.git
[submodule "plugins/ccskill"]
	path = plugins/ccskill
	url = https://github.com/anthropics/skills.git
[submodule "plugins/excalidraw-diagram-skill"]
	path = plugins/excalidraw-diagram-skill
	url = https://github.com/coleam00/excalidraw-diagram-skill.git
[submodule "plugins/nature-paper-skills"]
	path = plugins/nature-paper-skills
	url = https://github.com/Boom5426/Nature-Paper-Skills.git
